# Core ML
torch>=2.8
torchvision
torchaudio

# GNN
torch-geometric

# Neuroimaging
nibabel
nilearn

#AWS S3
boto3
botocore

# YOLO
ultralytics

# ML utilities
scikit-learn
numpy
pandas
scipy
tqdm

# Visualization
matplotlib
seaborn
networkx

# Experiment & notebooks
jupyter
ipykernel
